.text-regular {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-medium {
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.text-bold {
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.header-content {
  font-size: 18px;
  display: flex;
  align-items: center;
  margin: 90px 24px 92px 24px;
  max-width: 1052px;
}

.menu ul {
  align-items: center;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  gap: 31.2px;
}

.menu li:not(:first-child) {
  list-style-type: circle;
  text-decoration: underline;
}

.menu {
  margin: 41px 30px 39px 26.52px;
  letter-spacing: 0.187px;
  max-width: 397px;
  display: flex;
}

.menu li:first-child {
  list-style-type: none;
}

.logo-black {
  max-width: 148px;
  height: 105px;
  margin-left: 7px;
  margin-top: 2px;
}

.contacts li {
  list-style-type: none;
}

.contacts li:not(:last-child) {
  text-decoration: underline;
  letter-spacing: 0.2px;
}

.contacts li:first-child {
  margin-bottom: 3px;
}

.contacts li:last-child {
  margin-top: 4px;
  line-height: 24px;
}

.contacts {
  display: grid;
  max-width: 210px;
}

.contacts-left {
  margin-left: 196px;
  margin-top: 1px;
}

.lotus-section {
  max-width: 1100px;
}

.lotus-flower {
  background-image: url(../images/cover.jpg);
  padding-right: 46px;
}

.overlay {
  background-blend-mode: overlay;
  background-color: rgb(0 0 0 /0.6);
} 


.title-text {
  font-size: 100px;
  padding: 165px 4px 132px 50px;
  line-height: 100%;
  letter-spacing: 30px;
}

.text-left {
  display: block;
  padding-bottom: 20px;
  line-height: 115%;
}

.text-left span:first-child {
  letter-spacing: 60px;
}

.text-right {
  display: block;
  text-align: right;
}

.text-center {
  display: block;
  padding-bottom: 19px;
  text-align: center;
}

.text-center span:not(:first-child) {
  letter-spacing: 60px;
}

.text-right span:first-child {
  letter-spacing: 60px;
}

.text-right span:last-child {
  letter-spacing: 0;
}

.overlay span::after {
  letter-spacing: 0.3px;
}

.jambotron-text-container {
  display: flex;
  align-items: center;
  gap: 79px;
  padding-bottom: 52px;
}

.text-white {
  color: #fff;
}

.text-dark {
  color: #000;
}

.jambotron-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  text-align: center;
  align-content: center;
  margin-top: 4px;
  background-color: transparent;
  line-height: normal;
  padding-left: 5px;
  padding-top: 4px;
}

.jambotron-text {
  font-size: 22px;
  text-transform: uppercase;
  padding-left: 77px;
  padding-top: 5px;
  word-spacing: 18.7px;
}

.lots-container {
  max-width: 1100px;
  padding: 179px 24px 0px 24px;
}

.lots {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-top: 26.5px;
}

.lots ul {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.lots ul li {
  max-width: 334px;
  padding-bottom: 1px;
  flex-grow: 1;
}

.lots ul li h1 {
  max-width: 255px;
  font-size: 22px;
  text-decoration-line: underline;

  margin-top: 51px;
  margin-left: 41px;
  margin-right: 40px;
}

.lots ul li p {
  font-size: 20px;
  line-height: 120%;
  max-width: 254px;
  margin-left: 41px;
  margin-bottom: 47px;
}

.list-lot-image:nth-of-type(1){
  background-image: url(../images/card-lot-01.jpg);
}


.list-lot-image:nth-of-type(2){
  background-image: url(../images/card-lot-02.jpg);
}

.list-lot-image:nth-of-type(3){
  background-image: url(../images/card-lot-03.jpg);
}

.lots ul li:nth-of-type(1) p {
  margin-top: 242px;
}

.lots ul li:nth-of-type(3) p {
  margin-top: 96px;
}

.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lots-title {
  margin-left: 41px;
  font-size: 40px;
  max-width: 160px;
}

.more {
  font-size: 20px;
  text-decoration: underline;
  padding-top: 29px;
  padding-left: 40px;
}

.about {
  max-width: 1052px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-top: 146px;
}

.about-elipse {
  width: 240px;
  border-radius: 50%;
  background-color: #000;
  margin: 35px 46px 321px 71px;
  background-image: url(../images/logo-white.svg);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 61%;
  background-repeat: no-repeat;
}

.about-text {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
  max-width: 693px;
  padding-left: 24px;
}

.about-content-text {
 display: flex;
 gap: 24px;
 flex-direction: column;
}

.about-text h1 {
  padding-top: 136px;
  font-size: 40px;
  line-height: 48.96px;
}

.about-text p {
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: flex;
  padding: 181px 0px 93px 51px;
  font-size: 18px;
  gap: 177px;
}

.footer-menu {
  text-align: center;
  max-width: 163px;
  margin-left: 39px;
}

.footer-menu ul li {
  list-style-type: none;
}

.footer-menu ul li:not(:first-child) {
  text-decoration: underline;
}

.social-medias {
  display: flex;
  max-width: 266px;
  margin-left: 8px;
  margin-bottom: 50px;
  gap: 48px;
}

.social-medias-image {
  max-width: 48px;
  background-repeat: no-repeat;
}